#DB Configuration
POSTGRES_DB=sixpath
POSTGRES_USER=sixpath_user
POSTGRES_PASSWORD=sixpath_password


#BACKEND Configuration
DB_TYPE=postgresql
DB_HOST=db
DB_PORT=5432
DB_NAME=${POSTGRES_DB}
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}

# JWT Configuration
JWT_SECRET_KEY="your_jwt_secret_key_here"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

#FRONTEND Configuration
API_BASE_URL=http://backend:8000
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=0.0.0.0
